<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221620716561-ipbqn66tqskol2gcas16lgghlqvgm0uf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221620716561-ipbqn66tqskol2gcas16lgghlqvgm0uf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>221620716561-j5cugr18nfkvrp9go3mdqr6etg5bv9dr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhuqi19m_-whbLAgtbq2vga2gzUjHnAq8</string>
	<key>GCM_SENDER_ID</key>
	<string>221620716561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>demoapp-a7100</string>
	<key>STORAGE_BUCKET</key>
	<string>demoapp-a7100.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221620716561:ios:9bb19d2f74715186</string>
	<key>DATABASE_URL</key>
	<string>https://demoapp-a7100.firebaseio.com</string>
</dict>
</plist>